* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ota{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;    
    gap: 10px;
}

.green{
    width: 650px;
    height: 350px;
    background-color: green;
}

.yellow{
    width: 250px;
    height: 600px;
    background-color: blue;
}
.kim{
width: 600px;
height:150px ;
}
